*{font-family:'Times new roman', sans-serif; font-weight:300; color:white;}
.nav{list-style:none; display:flex; justify-content:center; gap:50px; font-size:18px}
/*.hero{display:flex; justify-content: space-between; background-color:black; align-items:center; padding:30px; padding-right:80px; padding-left:80px;}*/
.hero{
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}
.hero img{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
@media (max-width: 768px){
  .hero{
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}
body{
  overflow-x: hidden;
}
.intro{line-height:1.8; margin-top:40px}
footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
html, body{margin:0; padding:0}
body{min-height:100vh;
display:flex;
flex-direction: column;}
@media (max-width: 768px){
  h1{
    font-size: 24px;
  }

  p{
    font-size: 16px;
  }

  .nav{
    padding-top: 20px !important;
  }
}