*{font-family:'Times new roman', sans-serif; font-weight:300; color:white;}
.nav{list-style:none; display:flex; justify-content:center; gap:50px; font-size:18px}
.hero{display:flex; justify-content: space-between; background-color:black; align-items:center; padding:30px; padding-right:80px; padding-left:80px;}
.intro{line-height:1.8; margin-top:40px}
footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
html, body{height:110%; margin:0; padding:0}
body{min-height:100vh;
display:flex;
flex-direction: column;}